* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
body ul {
  list-style: none;
  margin: 0;
}
body .banner {
  width: 90%;
  margin: auto;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 650px) {
  body .banner {
    display: none;
  }
}
body .up-btn {
  width: 50px;
  height: 50px;
  line-height: 58px;
  text-align: center;
  background-color: #5c5d5f5e;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
body .up-btn i {
  color: #ffffff;
  font-size: 25px;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
@media (min-width: 375px) and (max-width: 650px) {
  nav {
    flex-direction: column;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 650px) and (max-width: 850px) {
  nav {
    flex-direction: column;
  }
}
nav ul {
  min-width: 450px;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 375px) and (max-width: 650px) {
  nav ul {
    flex-direction: row;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  nav ul {
    min-width: 350px;
    padding: 30px 0;
    justify-content: space-between;
  }
}
@media (min-width: 650px) and (max-width: 850px) {
  nav ul {
    padding: 30px 0;
  }
}
nav ul li {
  min-width: 70px;
  text-align: center;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 500;
}
nav a {
  color: #5c5d5f;
  font-size: 14px;
}
nav a:hover {
  text-decoration: none;
  color: #712366;
  text-decoration: none;
  font-size: 15px;
}

main {
  width: 90%;
  margin: auto;
}
main #about-me {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 650px) {
  main #about-me {
    height: auto;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  main #about-me {
    flex-direction: column;
  }
}
main #about-me figure {
  min-width: 250px;
  margin: 0 0 0 100px;
  padding: 15px;
}
@media (min-width: 850px) and (max-width: 1050px) {
  main #about-me figure {
    margin: 0 0 0 50px;
  }
}
@media (min-width: 650px) and (max-width: 850px) {
  main #about-me figure {
    margin: 0;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  main #about-me figure {
    max-width: 50%;
    margin: 0;
  }
}
main #about-me figure img {
  width: 100%;
  border-radius: 50%;
}
main #about-me .info {
  border-left: 2px solid #5c5d5f;
  margin: 0 0 0 100px;
  padding: 0 100px 0 100px;
}
@media (min-width: 850px) and (max-width: 1050px) {
  main #about-me .info {
    margin: 0 0 0 50px;
  }
}
@media (min-width: 650px) and (max-width: 850px) {
  main #about-me .info {
    margin: 0;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  main #about-me .info {
    border-left: none;
    padding: 0 0 50px 0;
    margin: 0;
  }
}
main #about-me .info h3 {
  text-align: end;
}
main #about-me .info p {
  text-align: justify;
}
main #services {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 650px) {
  main #services {
    height: auto;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  main #services {
    flex-direction: column;
  }
}
main #services .services-box {
  max-width: 250px;
  box-shadow: 10px 5px 5px #5c5d5f;
}
@media (min-width: 375px) and (max-width: 650px) {
  main #services .services-box {
    margin-bottom: 15px;
  }
}
main #services .services-box a {
  pointer-events: none;
}
main #services #logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
}
@media (min-width: 375px) and (max-width: 650px) {
  main #services #logos {
    flex-direction: row;
  }
}
main #services #logos li {
  margin: 0 5px;
}
main #services #logos img {
  max-width: 80px;
}

footer {
  width: 90%;
  margin: auto;
}
footer .contact-list {
  width: 90%;
  min-height: 100px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 650px) {
  footer .contact-list {
    flex-direction: column;
  }
}
footer .contact-list .social {
  display: flex;
  min-width: 250px;
  justify-content: flex-end;
}
@media (min-width: 375px) and (max-width: 650px) {
  footer .contact-list .social {
    flex-direction: row;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  footer .contact-list .social {
    justify-content: center;
  }
}
@media (min-width: 375px) and (max-width: 650px) {
  footer {
    height: auto;
    padding: 30px;
  }
  footer .contact-list {
    justify-content: center;
  }
}
footer a {
  color: #5c5d5f;
}
footer a i {
  font-size: 25px;
  margin: 0 5px;
}
@media (min-width: 375px) and (max-width: 650px) {
  footer a i {
    font-size: 20px;
  }
}
footer a:hover {
  text-decoration: none;
  color: #712366;
}

/*# sourceMappingURL=main.css.map */
