#about-me {
    @include normal-section-height;
    width: 100%;
    padding: 20px;
    @include flex-container(column);
    justify-content: center;
    align-items: center;

    figure {
        min-width: 250px;
        @include about-margins;
        padding: 15px;

        @media (min-width: $min-movile) and (max-width: $medium-movile){
            max-width: 50%;
            margin: 0;
        }
        img{
            width: 100%;
            border-radius: 50%;
        }
    }

    .info {
        border-left: 2px solid $main-color;
        @include about-margins;
        padding: 0 100px 0 100px;

        @media (min-width: $min-movile) and (max-width: $medium-movile){
            border-left: none;
            padding: 0 0 50px 0;
            margin: 0 
        }

        h3 {
            text-align: end;
        }

        p {
            text-align: justify;
        }
    }
}