#services {
    @include normal-section-height;
    @include flex-container(column);
    justify-content: space-evenly;
    align-items: center;

    .services-box {
        max-width: 250px;
        box-shadow: 10px 5px 5px $main-color;
        @media (min-width: $min-mobile) and (max-width: $medium-mobile){
            margin-bottom: 15px;
        }
        a{
            pointer-events: none;
        }
    }

    #logos {
        @include flex-container(row);
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 5px;
        

        li {
            margin: 0 5px;
        }
        img{
          max-width: 80px;  
        }
    }
}