// Fonts
$main-font: 'Roboto', sans-serif;

// Colors
$main-color: #5c5d5f;
$links-hover-color: #712366;

// Margins & Paddings
// $about-margins: 0 0 0 100px;

// Media-queries
$min-movile: 375px;
$medium-movile: 650px;
$max-movile: 850px;